PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=Tc5Pmo56qQj_f4ujeQo8HrzxcKEmr-g_
DRIVE_DISK=local
DB_CONNECTION=mysql
MAIL_MAILER=smtp
MAIL_ENCRYPTION=tls
CACHE_VIEWS=false
S3_KEY=dummyKey
S3_SECRET=dummySecret
S3_BUCKET=dummyBucket
S3_REGION=dummyRegion
S3_ENDPOINT=dummyEndpoint
BULLMQ_REDIS_HOST=127.0.0.1
BULLMQ_REDIS_PORT=6379
BULLMQ_REDIS_PASSWORD=
MYSQL_PORT=3306
REDIS_CONNECTION=local
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
