<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitonal//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitonal.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta
      http-equiv="Content-Type"
      charset="UTF-8"
      content="text/html; charset=utf-8"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk&display=swap"
      rel="stylesheet"
    />
    <style type="text/css">
      body {
        margin: 0;
        font-family: "Familjen Grotesk", sans-serif;
      }

      table {
        border-spacing: 0;
      }

      td {
        padding: 0;
      }

      img {
        border: 0;
      }

      .wrapper {
        width: 100%;
        table-layout: fixed;
        padding-bottom: 0px;
      }

      .main {
        background-color: #fff;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-spacing: 0;
      }

      .circle {
        width: 40px;
        height: 40px;

        background: #d9d9d9;
        border-radius: 50%;
      }
      .first_row {
        background-image: url("https://i.ibb.co/3s161Yq/Vector.png");
        background-color: #3b71f7;
      }

      .first_row_container {
        position: relative;
      }

      .img-container {
        width: 100%;
      }

      .instruction {
        color: #676767;
        font-weight: 500;
        font-size: 13px;
        line-height: 145%;
      }

      .greeting {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
      }

      .button {
        background: #3b71f7;
        border-radius: 64px;
        padding: 15px 38px;
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;
        color: #fff;
      }

      .second_row_content {
        padding-right: 45px;
      }

      .third_row_content {
        position: relative;
        left: 90%;
      }

      .hq_address {
        color: #676767;
        font-weight: 500;
        font-size: 13px;
        line-height: 145%;
      }

      /* .img-1 {
        position: relative;
        left: 70%;
        transform: rotate(20deg);
      } */
    </style>
  </head>
  <body>
    <center class="wrapper">
      <table class="main" width="100%">
        <!-- first row -->
        <tbody>
          <tr>
            <td class="first_row" height="200" style="padding: 10px 30px">
              <div class="first_row_container">
                <table>
                  <tbody>
                    <tr>
                      <p class="circle"></p>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <tr>
                    <p style="color: white; font-size: 35px; font-weight: 600">
                      Song Upload Successful
                    </p>
                  </tr>
                </table>

                <!-- <img
                  class="img-1"
                  src="./Rectangle 7.png"
                  alt=""
                  style="position: absolute; right: -6%; top: 28%"
                /> -->

                <img
                  src="https://i.ibb.co/M1FYd6v/Rectangle-7.png"
                  alt="Rectangle-7"
                  border="0"
                  style="position: absolute; right: -6%; top: 28%"
                />
              </div>
            </td>
          </tr>
          <!-- second row -->
          <tr>
            <td height="280" style="background-color: #fff; padding: 5px 30px">
              <table>
                <tbody>
                  <tr>
                    <td class="second_row_content">
                      <p class="greeting">Hi there {{ name }},</p>

                      <p class="instruction" style="margin-bottom: 48px">
                        Congratulations! Your song,  <strong> {{ title }}</strong> has been
                        successfully uploaded to our platform.
                        <br />
                        <br />
                        Thank you for choosing to share your music with us. We
                        can't wait for our listeners to hear it.
                        <br />
                        <br />
                        If you have any questions or need assistance with
                        anything else, please don't hesitate to contact us.

                        <br />
                        <br />
                        Well-done Superstar!
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <!-- Third row -->
          <tr>
            <td
              height="140"
              style="background-color: #fffaf0; padding: 0px 30px"
            >
              <table>
                <tbody>
                  <tr>
                    <td>
                      <p class="hq_address">
                        John Smith 123 Main Street Anytown, <br />
                        USA 12345
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="third_row_content">
                      <p style="font-size: 12px; font-weight: 700; color: #000">
                        <a
                          href="#"
                          style="
                            font-size: 12px;
                            font-weight: 500;
                            color: #676767;
                            text-decoration: none;
                          "
                          >Manage Email preferences</a
                        >
                        OR
                        <a
                          href="#"
                          style="
                            font-size: 12px;
                            font-weight: 500;
                            color: #e50000;
                          "
                          >Unsubscribe</a
                        >
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>
