<h1> Welcome {{ last_name }} {{ first_name}}, </h1>
<p>
  You have been invited as a worker on soundseeker.com. Please use the password generated below to login into your account.
</p>

<p>
  <i>
    <b> Password: </b> {{ password }}
  </i>
</p>